# Web Framework & Utils
Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-CORS
Flask-Migrate
PyMySQL
cryptography
bcrypt
python-dotenv
Werkzeug
marshmallow
marshmallow-sqlalchemy
requests
exifread
piexif

# Machine Learning & Computer Vision
deepface
tensorflow-macos
tensorflow-metal
opencv-python
numpy
Pillow
scikit-learn
matplotlib
seaborn
pandas

# Special Handling (Usually requires build tools)
face-recognition
cmake
